body{
  background-color: black;
}

@media screen and (min-width: 0px) and (max-width: 300px) {
  body {
    background-color: #ff0000;
    font-size: 10px;
    float: left;
    display: inline-block;
    width: 100%;
  }
  #small {
    width: 100%;
    padding: 0;
  }
  #medium{
    width: 100%;
    padding: 0;
  }
  #large {
    width: 100%;
    padding: 0;
  }
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  body {
    background-color: green;
    font-size: 20px;
    display: inline-block;
  }
  #small {
    width: 66%;
    padding: 0;
  }
  #medium{
    width: 33%;
    padding: 0;
  }
  #large {
    width: 100%;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-color: blue;
    font-size: 30px;
    display: inline-block;
  }
  #small {
    width: 33%;
    padding: 0;
  }
  #medium{
    width: 33%;
    padding: 0;
  }
  #large {
    width: 33%;
    padding: 0;
  }
}
